.sidebar-background {
    z-index:0;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
/*    vertical-align: text-top;      */
    background-image: url("/images/pnotify/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-ok-sign {
    background-position: -72px -96px;
}

.icon-remove {
    background-position: -312px 0;
}

.icon-play {
    background-position: -264px -72px;
}

.icon-pause {
    background-position: -288px -72px;
}

.icon-stop {
    background-position: -312px -72px;
}

#divTeamList {
    width: 100%;
    overflow: hidden;
}

#teamlist {
    list-style: none;
    position: relative;
    float: left;
    display: block;
    border: solid 1px #ddd ! important; padding: 1.25em ! important;
    left: 5%;
    /*left: 50%;*/
}

#teamlist li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.selected {
    border:solid 3px #00A ! important;
}

.scrumElement {
    float:left;
    width:30%;
    border: solid 1px #ddd ! important;
    padding-left: 3%;
    position: relative;
    height: 167px;
}

.scrumElement img {
    width: 50px;
    margin: 10px;
}

.draggable  {
    width: 50px;
    float:left;
    margin: 10px;
}

.scrumElement input {
    margin-bottom:5%;
}

.removeBtn {
    margin-bottom: 5%;
}

#divInputText input{
    color:#858585;
}

.addTextboxButton {
    margin-bottom: 10px;
}