<template name="admin">

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-edit"></i>
                        Administration Page
                    </h3>
                </div>

                <ul class="inline pull-right sparkline-box">

                    <li class="sparkline-row">
                        <h4 class="blue"><span>Commits</span> 847</h4>
                        <div class="sparkline big" data-color="blue"><!--4,5,3,1,0,10,9,3,0,4--></div>
                    </li>

                    <li class="sparkline-row">
                        <h4 class="green"><span>Updates</span> 12</h4>
                        <div class="sparkline big" data-color="green"><!--24,10,13,15,3,7,8,29,7,14,13,23--></div>
                    </li>

                    <li class="sparkline-row">
                        <h4 class="red"><span>Pomodoros</span> 83 so far</h4>
                        <div class="sparkline big"><!--4,,7,12,12,3,4,5,9,9--></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid padded">
        <div class="row-fluid">

            <!-- Breadcrumb line -->

            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>



                <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="icon-edit"></i>Administration Page
          </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid padded">
        <div class="row-fluid">
            {{> userAdminBlock}}

            <br clear="all"/>
            <hr width="100%" color="#000000" noshade="false"/>
            <br clear="all"/>

            {{> creationProdTeamBlock}}
        </div>
    </div>

</template>

<template name="userAdminBlock">
    <div class="selectMultiBox">
        <label>ALL USERS</label>
        <select multiple id="notAdminUsers">
            {{#each notAdminUsers}}
            <option value="{{_id}}">{{profile.name}} ({{profile.email}})</option>
            {{/each}}
        </select>
        <a href="#" id="add">add &gt;&gt;</a>
    </div>
    <div class="selectMultiBox">
        <label>ADMIN USERS</label>
        <a href="#" id="remove">&lt;&lt; remove</a>
        <select multiple id="adminUsers">
            {{#each adminUsers}}
            <option value="{{_id}}">{{profile.name}} ({{profile.email}})</option>
            {{/each}}
        </select>
    </div>
</template>


<template name="creationProdTeamBlock">
    <div class="lfloat">
        <button id="newProductBtn" class="btn btn-blue">New Product</button>
        <br clear="all"/>
        <br clear="all"/>
    <!--    <button id="newTeamBtn" class="btn btn-blue">New Team</button>      -->
    </div>

    <div id="new-product" title="Create new Product">
        <p class="validateTips">All form fields are required.</p>
        <form>
            <fieldset>
                <label for="name">Product Name</label>
                <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
                <label for="slug">Product Slug</label>
                <input type="text" name="slug" id="slug" value="" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>

    <div id="new-team" title="Create new Team">
        <p class="validateTeamTips"></p>
        <form>
            <fieldset>
                <label for="teamName">Team Name</label>
                <input type="text" name="teamName" id="teamName" class="text ui-widget-content ui-corner-all" />
                <label for="TeamSlug">Team Slug</label>
                <input type="text" name="teamSlug" id="teamSlug" value="" class="text ui-widget-content ui-corner-all" />
                <label for="slug">Motto</label>
                <input type="text" name="teamMotto" id="teamMotto" value="" class="text ui-widget-content ui-corner-all" />
                <label for="slug">Picture</label>
                <input type="text" name="teamMotto" id="teamPicture" value="" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
</template>


<template name="notAuthorized">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-edit"></i>
                        You're not authorized to access this page... Admin Privileges needed!!
                    </h3>
                </div>
            </div>
        </div>
    </div>
</template>