<template name="joinTeam">

    {{#if tokens}}
        {{> matchToken}}
    {{else}}
        {{> noMatchToken}}
    {{/if}}

</template>

<template name="matchToken">
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-edit"></i>
                        Congratulations!! You joined Team "I moschettieri"
                    </h3>
                    <h5>
                        Tutti per uno, uno per tutti.
                    </h5>
                </div>

                <ul class="inline pull-right sparkline-box">

                    <li class="sparkline-row">
                        <h4 class="blue"><span>Commits</span> 847</h4>
                        <div class="sparkline big" data-color="blue"></div>
                    </li>

                    <li class="sparkline-row">
                        <h4 class="green"><span>Updates</span> 12</h4>
                        <div class="sparkline big" data-color="green"></div>
                    </li>

                    <li class="sparkline-row">
                        <h4 class="red"><span>Pomodoros</span> 83 so far</h4>
                        <div class="sparkline big"></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid padded">
        <div class="row-fluid">

            <!-- Breadcrumb line -->

            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>



                <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="icon-edit"></i> Team: I moschettieri
          </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span4">
                <img height="180px" src="http://3.bp.blogspot.com/-8dPgVxgmoo8/TfYnmUHPF7I/AAAAAAAALng/s2TId6zrK9Y/s1600/4Moschettieri.jpg" alt="logo"/>

            </div>
            <div class="span8">

               <button type="submit" class="btn btn-blue confirmSubscription">Confirm Subscription</button>

            </div>
        </div>
    </div>
</template>


<template name="noMatchToken">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-edit"></i>
                            L'URL inserito non è valido... nessun token trovato
                    </h3>
                </div>
            </div>
        </div>
    </div>
</template>
