<template name="sidebar">
    <div class="primary-sidebar">

    <!-- Main nav -->
        <ul class="nav nav-collapse collapse nav-collapse-primary">
            <li class="active">
                <span class="glow"></span>
                <a href="/{{selectedProduct}}/dailyscrum/{{selectedTeam}}">
                    <i class="icon-dashboard icon-2x"></i>
                    <span>Daily scrum</span>
                </a>
            </li>
            <li class="dark-nav ">
                <span class="glow"></span>
                <!--   <a class="accordion-toggle collapsed " data-toggle="collapse" href="/{{selectedProduct}}/retrospectives/{{selectedTeam}}"> -->
                <a href="/{{selectedProduct}}/retrospectives/{{selectedTeam}}">
                  <i class="icon-beaker icon-2x"></i>
                    <span>
                      Retrospectives
                     <!-- <i class="icon-caret-down"></i>    -->
                    </span>
                </a>
            </li>
            <li class="dark-nav ">
                <span class="glow"></span>
                <a href="/{{selectedProduct}}/dashboard/{{selectedTeam}}">
                    <i class="icon-dashboard icon-2x"></i>
                    <span>
                      DashBoard
                    </span>
                </a>
            </li>
            <li class="">
                <span class="glow"></span>
                <a href="#">
                  <i class="icon-edit icon-2x"></i>
                  <span>Sprints</span>
                </a>
            </li>
        </ul>

    </div>

</template>