<template name="sidebar">
<div class="primary-sidebar">

  <!-- Main nav -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">

    

        

            <li class="active">
              <span class="glow"></span>
              <a href="dashboard.html">
                  <i class="icon-dashboard icon-2x"></i>
                  <span>Daily scrum</span>
              </a>
            </li>

        

    

        

            <li class="dark-nav ">

              <span class="glow"></span>

              

              <a class="accordion-toggle collapsed " data-toggle="collapse" href="dashboard.html#3hzyGPtrSk">
                  <i class="icon-beaker icon-2x"></i>
                    <span>
                      Retrospectives
                      <i class="icon-caret-down"></i>
                    </span>

              </a>

              <!--<ul id="3hzyGPtrSk" class="collapse ">-->
                <!---->
                    <!--<li class="">-->
                      <!--<a href="../ui_lab/buttons.html">-->
                          <!--<i class="icon-hand-up"></i> Buttons-->
                      <!--</a>-->
                    <!--</li>-->
                <!---->
                    <!--<li class="">-->
                      <!--<a href="../ui_lab/general.html">-->
                          <!--<i class="icon-beaker"></i> General elements-->
                      <!--</a>-->
                    <!--</li>-->
                <!---->
                    <!--<li class="">-->
                      <!--<a href="../ui_lab/icons.html">-->
                          <!--<i class="icon-info-sign"></i> Icons-->
                      <!--</a>-->
                    <!--</li>-->
                <!---->
                    <!--<li class="">-->
                      <!--<a href="../ui_lab/grid.html">-->
                          <!--<i class="icon-th-large"></i> Grid-->
                      <!--</a>-->
                    <!--</li>-->
                <!---->
                    <!--<li class="">-->
                      <!--<a href="../ui_lab/tables.html">-->
                          <!--<i class="icon-table"></i> Tables-->
                      <!--</a>-->
                    <!--</li>-->
                <!---->
                    <!--<li class="">-->
                      <!--<a href="../ui_lab/widgets.html">-->
                          <!--<i class="icon-plus-sign-alt"></i> Widgets-->
                      <!--</a>-->
                    <!--</li>-->
                <!---->
              <!--</ul>-->

            </li>

        

    

        

            <li class="">
              <span class="glow"></span>
              <a href="../forms/forms.html">
                  <i class="icon-edit icon-2x"></i>
                  <span>Sprints</span>
              </a>
            </li>

        

    

        
            <!--
            <li class="">
              <span class="glow"></span>
              <a href="../charts/charts.html">
                  <i class="icon-bar-chart icon-2x"></i>
                  <span>Charts</span>
              </a>
            </li>
            -->





      <!--
      <li class="dark-nav ">

        <span class="glow"></span>



        <a class="accordion-toggle collapsed " data-toggle="collapse" href="dashboard.html#MB8CPSHAKP">
            <i class="icon-link icon-2x"></i>
              <span>
                Others
                <i class="icon-caret-down"></i>
              </span>

        </a>

        <ul id="MB8CPSHAKP" class="collapse ">

              <li class="">
                <a href="../other/wizard.html">
                    <i class="icon-magic"></i> Wizard
                </a>
              </li>

              <li class="">
                <a href="../other/login.html">
                    <i class="icon-user"></i> Login Page
                </a>
              </li>

              <li class="">
                <a href="../other/sign_up.html">
                    <i class="icon-user"></i> Sign Up Page
                </a>
              </li>

              <li class="">
                <a href="../other/full_calendar.html">
                    <i class="icon-calendar"></i> Full Calendar
                </a>
              </li>

              <li class="">
                <a href="../other/error404.html">
                    <i class="icon-ban-circle"></i> Error 404 page
                </a>
              </li>

        </ul>

      </li>
       -->




</ul>


<!--<div class="hidden-tablet hidden-phone">-->
<!--<div class="text-center" style="margin-top: 60px">-->
<!--<div class="easy-pie-chart-percent" style="display: inline-block" data-percent="89"><span>89%</span></div>-->
<!--<div style="padding-top: 20px"><b>CPU Usage</b></div>-->
<!--</div>-->

<!--<hr class="divider" style="margin-top: 60px">-->

<!--<div class="sparkline-box side">-->

<!--<div class="sparkline-row">-->
  <!--<h4 class="gray"><span>Orders</span> 847</h4>-->
  <!--<div class="sparkline big" data-color="gray">&lt;!&ndash;25,3,28,4,15,4,17,25,15,12,10,8&ndash;&gt;</div>-->
      <!--</div>-->

      <!--<hr class="divider">-->
      <!--<div class="sparkline-row">-->
        <!--<h4 class="dark-green"><span>Income</span> $43.330</h4>-->
        <!--<div class="sparkline big" data-color="darkGreen">&lt;!&ndash;5,10,24,20,27,21,24,9,12,14,26,23&ndash;&gt;</div>-->
      <!--</div>-->

      <!--<hr class="divider">-->
      <!--<div class="sparkline-row">-->
        <!--<h4 class="blue"><span>Reviews</span> 223</h4>-->
        <!--<div class="sparkline big" data-color="blue">&lt;!&ndash;15,12,11,14,6,24,17,4,20,29,9,11&ndash;&gt;</div>-->
      <!--</div>-->

      <!--<hr class="divider">-->


    <!--</div>-->
  <!--</div>-->


</template>