<template name="team">
  {{#with teamInfo}}
  <div class="container-fluid">
    <div class="row-fluid">

      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-edit"></i>
            {{name}}
          </h3>
          <h5>
            {{motto}}
          </h5>
        </div>

        <ul class="inline pull-right sparkline-box">

          <li class="sparkline-row">
            <h4 class="blue"><span>Commits</span> 847</h4>
            <div class="sparkline big" data-color="blue"><!--4,5,3,1,0,10,9,3,0,4--></div>
          </li>

          <li class="sparkline-row">
            <h4 class="green"><span>Updates</span> 12</h4>
            <div class="sparkline big" data-color="green"><!--24,10,13,15,3,7,8,29,7,14,13,23--></div>
          </li>

          <li class="sparkline-row">
            <h4 class="red"><span>Pomodoros</span> 83 so far</h4>
            <div class="sparkline big"><!--4,,7,12,12,3,4,5,9,9--></div>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid padded">
    <div class="row-fluid">

      <!-- Breadcrumb line -->

      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>

        

        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="icon-edit"></i> Team: {{name}}
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padded">
    <div class="row-fluid">
        <div class="span4">
            <img height="180px" src="{{picture}}" alt="logo"/>
            <!--todo qui c'è da vedere che l'id username fa comparire la popup, cambiandolo in teamname non funziona più -->

            <center><h3 class="title">
            <a href="#" class="editable editable-click" id="username" data-type="text" data-pk="1" data-original-title="Team name">{{name}}</a>
            </h3>
            </center>
        </div>
  <div class="span8">

    <div class="box">
      <div class="box-header">
        <span class="title">People</span>
        <ul class="box-toolbar">
          <li>
            <i class="icon-refresh"></i>
          </li>
          <li>
            <input type="checkbox" class="iButton-icons" checked="checked" />
          </li>

        </ul>
      </div>

      <div class="box-content">

        <form class="fill-up">

          <div class="row-fluid">
            <div class="span6">

              <ul class="padded separate-sections">

                <li class="input">
                    <input type="text" placeholder="Email" id="invitationMail"/>
                </li>

                <li>
                    <select id="invitationRole" class="easyui-combobox" name="dept" style="width:200px;">
                        <option value="tm" selected="true">Team Member</option>
                        <option value="sm" >Scrum Master</option>
                        <option value="po" >Product Owner</option>
                    </select>
                </li>
              </ul>
            </div>

            <div class="span6">

              <ul class="padded separate-sections">
                  {{> userTeam}}

              </ul>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-blue sendMail">Update and invite</button>
   <!--         <button type="button" class="btn btn-default">Cancel</button>    -->
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


      <div class="container-fluid padded">
          <div class="row-fluid">
              <div class="span12">
                  <ul class="chat-box timeline">

                      <li class="arrow-box-left gray">
                          <div class="avatar"><img class="avatar-small" src="https://lh4.googleusercontent.com/-2L5LK_vIIuQ/AAAAAAAAAAI/AAAAAAAAAjk/nymGrgsgg7I/photo.jpg"></div>
                          <div class="info">
      <span class="name">
        <span class="label label-green">Food for thoughts</span>
          <strong class="indent">Makkina</strong> posted a comment on this task: <strong>Team Homepage</strong>
      </span>
                              <span class="time"><i class="icon-time"></i> 3 minutes ago</span>
                          </div>
                          <div class="content">
                              <ul>
                                  <li>Lesson learned: deve arrivare da il log della retrospettiva con un click: promote as lesson learned.</li>
                                  <li>Team Stream: Conoscere le commit del team (foto più commit, pomodoros, etc.)</li>
                                  <li>Un team può avere uno status di team?</li>

                              </ul>

                          </div>
                      </li>


                  </ul>


              </div>
          </div>
      </div>


  </div>
    {{/with }}
</template>


<template name="userTeam">
  <!--
    <li><img class="menu-avatar" src="https://lh4.googleusercontent.com/-2L5LK_vIIuQ/AAAAAAAAAAI/AAAAAAAAAjk/nymGrgsgg7I/photo.jpg">
        <a href="/user/francescomondora"> Francesco Mondora</a> [ <a href="#ban">Ban!</a> | <a href="#ban">Delete!</a> ]
    </li>

    <li><img class="menu-avatar" src="https://lh3.googleusercontent.com/-LvnlpR-c3Wg/AAAAAAAAAAI/AAAAAAAAAAA/WcOBSmrHA04/s48-c/photo.jpg">
        davide.morri@mondora.com (invited) [ <a href="#inviteagain">Invite Again</a> | <a href="#ban">Delete!</a> ]
    </li>
    -->
    {{#with scrummaster}}
    {{#if scrummaster}}
        <li><img class="menu-avatar" src="{{profile.picture}}">
            <a href="/user/{{_id}}"> {{profile.name}} (Scrum Master)</a>
            <button type="button" class="btn btn-blue" id="deleteSM" style="float:right">Delete</button>
        </li>
    {{/if}}
    {{/with}}

    {{#with productowner}}
    {{#if productowner}}
        <li><img class="menu-avatar" src="{{profile.picture}}">
            <a href="/user/{{_id}}"> {{profile.name}} (Product Owner)</a>
            <button type="button" class="btn btn-blue" id="deletePO" style="float:right">Delete</button>
        </li>
    {{/if}}
    {{/with}}

    {{#each users}}
        <li><img class="menu-avatar" src="{{picture}}">
            <a href="/user/{{id}}"> {{name}}</a>
            <button type="button" class="btn btn-blue deleteTM" style="float:right" value="{{id}}">Delete</button>
        </li>
    {{/each}}
</template>