<template name="usersList">

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-edit"></i>
                        Users List
                    </h3>
                    <h5>
                        Some info...
                    </h5>
                </div>

                <ul class="inline pull-right sparkline-box">

                    <li class="sparkline-row">
                        <h4 class="blue"><span>Commits</span> 847</h4>
                        <div class="sparkline big" data-color="blue"><!--4,5,3,1,0,10,9,3,0,4--></div>
                    </li>

                    <li class="sparkline-row">
                        <h4 class="green"><span>Updates</span> 12</h4>
                        <div class="sparkline big" data-color="green"><!--24,10,13,15,3,7,8,29,7,14,13,23--></div>
                    </li>

                    <li class="sparkline-row">
                        <h4 class="red"><span>Pomodoros</span> 83 so far</h4>
                        <div class="sparkline big"><!--4,,7,12,12,3,4,5,9,9--></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid padded">
        <div class="row-fluid">

            <!-- Breadcrumb line -->

            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label">
                        <i class="icon-edit"></i>Users List
                    </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span6" id="users-contain">
                <table id="usersTable" class="ui-widget ui-widget-content">
                    <thead>
                    <tr class="ui-widget-header ">
                        <th>User</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each usersList}}
                        <tr>
                            <td>
                                <img class="menu-avatar" src="{{img}}"/>
                                <a href="/user/{{id}}">{{name}}</a>
                            </td>
                            <td>
                                <ul>
                                    {{#each roles}}
                                    <li>
                                        {{role}} of team '<a href="/{{productSlug}}/team/{{teamSlug}}">{{teamName}}</a>'
                                    </li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <!--
                {{#each productList}}
                <fieldset style="border: solid 1px #ddd ! important; padding: 1.25em ! important;">
                    <h3>{{name}}</h3>
                    <ul class="padded separate-sections">
                        {{#each team}}
                        <li>
                            <fieldset style="border: solid 1px #ddd ! important; padding: 1.25em ! important;">
                                <img width="100px" src="{{picture}}" alt="logo"/>
                                <h3>
                                    <a href="/{{productSlug}}/team/{{slug}}">{{name}}</a>
                                </h3>
                                {{#each users}}
                                <ul class="padded separate-sections">
                                    <li><img class="menu-avatar" src="{{profile.picture}}">
                                        <a href="/user/{{_id}}">{{profile.name}} ({{role}})</a>
                                    </li>
                                </ul>
                                {{/each}}
                            </fieldset>
                        </li>
                        {{/each}}
                    </ul>
                </fieldset>
                {{/each}}
                -->
            </div>

        </div>
    </div>

    <!--
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <ul class="chat-box timeline">

                    <li class="arrow-box-left gray">
                        <div class="avatar"><img class="avatar-small" src="https://lh4.googleusercontent.com/-2L5LK_vIIuQ/AAAAAAAAAAI/AAAAAAAAAjk/nymGrgsgg7I/photo.jpg"></div>
                        <div class="info">
                            <span class="name">
                                <span class="label label-green">Food for thoughts</span>
                                <strong class="indent">Makkina</strong> posted a comment on this task: <strong>Team Homepage</strong>
                            </span>
                            <span class="time"><i class="icon-time"></i> 3 minutes ago</span>
                        </div>
                        <div class="content">
                            <ul>
                                <li>Lesson learned: deve arrivare da il log della retrospettiva con un click: promote as lesson learned.</li>
                                <li>Team Stream: Conoscere le commit del team (foto più commit, pomodoros, etc.)</li>
                                <li>Un team può avere uno status di team?</li>

                            </ul>

                        </div>
                    </li>


                </ul>


            </div>
        </div>
    </div>
      -->
</template>